<div id="<%= dom_id inventory %>">
  <p>
    <strong>Id prod:</strong>
    <%= inventory.Id_prod %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= inventory.code %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= inventory.brand %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= inventory.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= inventory.description %>
  </p>

  <p>
    <strong>Cost price:</strong>
    <%= inventory.cost_price %>
  </p>

  <p>
    <strong>Sale price:</strong>
    <%= inventory.sale_price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= inventory.stock %>
  </p>

</div>
