<div id="<%= dom_id purchase %>">
  <p>
    <strong>Rut supp:</strong>
    <%= purchase.rut_supp %>
  </p>

  <p>
    <strong>Name supplier:</strong>
    <%= purchase.name_supplier %>
  </p>

  <p>
    <strong>Type doc:</strong>
    <%= purchase.type_doc %>
  </p>

  <p>
    <strong>Prod:</strong>
    <%= purchase.prod_id %>
  </p>

  <p>
    <strong>Prod name:</strong>
    <%= purchase.prod_name %>
  </p>

  <p>
    <strong>Units:</strong>
    <%= purchase.units %>
  </p>

  <p>
    <strong>Cost price:</strong>
    <%= purchase.cost_price %>
  </p>

  <p>
    <strong>Net price:</strong>
    <%= purchase.net_price %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= purchase.tax %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= purchase.total %>
  </p>

</div>
