<h1>¡Bienvenido al sistema de ventas prototipo!</h1>


<%= link_to 'Categorias', categories_path %>
<%= link_to 'Proveedores', suppliers_path %>
<%= link_to 'Productos', products_path %>
<%= link_to 'Ventas', sales_path %>
<%= link_to 'Clientes', customers_path %>
<%= link_to 'inventario', inventories_path %>
