<div id="<%= dom_id customer %>">
  <p>
    <strong>Rut client:</strong>
    <%= customer.rut_client %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>Commune:</strong>
    <%= customer.commune %>
  </p>

  <p>
    <strong>Telphone:</strong>
    <%= customer.telphone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

</div>
