<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rut_client, style: "display: block" %>
    <%= form.text_field :rut_client %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>
<%# 
  <div>
    <%= form.label :commune, style: "display: block" %>
    <%#= form.text_field :commune %>
  <%# </div> %>

  <div class="field">
    <%= form.label :commune_id, class:"label" %>
    <div class="control">
      <div class="select is-fullwidth">
        <%= form.collection_select  :category_id, Commune.order(:name), :id, :name, required: true, prompt: t('.choose') %>
      </div>
    </div>
  </div>



  <div>
    <%= form.label :telphone, style: "display: block" %>
    <%= form.text_field :telphone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
