<p style="color: green"><%= notice %></p>

<h1>Suppliers</h1>
<%= paginate @suppliers %>
<div id="suppliers">
  <% @suppliers.each do |supplier| %>
    <%= render supplier %>
    <p>
      <%= link_to "Show this supplier", supplier %>
    </p>
  <% end %>
</div>
<%= paginate @suppliers %>
<%= link_to "New supplier", new_supplier_path %>
