<div id="<%= dom_id sale %>">
  <p>
    <strong>Date:</strong>
    <%= sale.date %>
  </p>

  <p>
    <strong>Type doc:</strong>
    <%= sale.type_doc %>
  </p>

  <p>
    <strong>Num doc:</strong>
    <%= sale.num_doc %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= sale.vendor %>
  </p>

  <p>
    <strong>Name client:</strong>
    <%= sale.name_client %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= sale.address %>
  </p>

  <p>
    <strong>Commune:</strong>
    <%= sale.commune %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= sale.region %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= sale.category %>
  </p>

  <p>
    <strong>Prod:</strong>
    <%= sale.prod_id %>
  </p>

  <p>
    <strong>Prod desc:</strong>
    <%= sale.prod_desc %>
  </p>

  <p>
    <strong>Units:</strong>
    <%= sale.units %>
  </p>

  <p>
    <strong>Cost price:</strong>
    <%= sale.cost_price %>
  </p>

  <p>
    <strong>Sale price:</strong>
    <%= sale.sale_price %>
  </p>

  <p>
    <strong>Net price:</strong>
    <%= sale.net_price %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= sale.tax %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= sale.total %>
  </p>

</div>
