<header>
    <nav>
        <ul>
            <li><%= link_to 'Inicio', home_index_path %></<li>
            <li><%= link_to 'Categorias', categories_path %></<li>
            <li><%= link_to 'Proveedores', suppliers_path %></<li>
            <li><%= link_to 'Ventas', sales_path %></<li>
            <li><%= link_to 'Clientes', customers_path %></<li>
            <li><%= link_to 'inventario', inventories_path %></<li>

        </ul>
    </nav>
</header>